<h2> OUR PROJECTS</h2>
<div class="containe">

        <div class="col-lg-4">
            <div class="card">
                <img src="assets/white.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">$205,000</h5>
                  <div class="icon">
                    <i class="fa-solid fa-circle white"></i>
                    <i class="fa-solid fa-circle blue"></i>
                  </div>
                  <h6> BEAUTIFUL WHITE FAMILY HOUSE</h6>
                  <p class="card-text">This is a beautiful single family home located in a quiet and desirable residential neighborhood.</p>
                  <a routerLink="/project" class="btn btn-warning btn-block">BUY HOUSE</a>
                </div>
              </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <img src="assets/black.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">$95,000</h5>
                    <div class="icon">
                        <i class="fa-solid fa-circle black"></i>
                        <i class="fa-solid fa-circle white"></i>
                      </div>
                    <h6>BLACK FAMILY HOUSE</h6>
                    <p class="card-text">This is a beautiful single family home located in a quiet and desirable residential neighborhood.</p>
                    <a routerLink="/project" class="btn btn-warning btn-block">BUY HOUSE</a>
                </div>
              </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <img src="assets/blue.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">$250,000</h5>
                    <div class="icon">
                        <i class="fa-solid fa-circle blue"></i>
                        <i class="fa-solid fa-circle white"></i>
                      </div>
                      <h6>BLUE FAMILY HOUSE</h6>
                    <p class="card-text">This is a beautiful single family home located in a quiet and desirable residential neighborhood.</p>
                    <a routerLink="/project" class="btn btn-warning btn-block">BUY HOUSE</a>
                </div>
              </div>
        </div>


        <div class="col-lg-4 ">
            <div class="card">
                <img src="assets/red.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">$105,000</h5>
                    <div class="icon">
                        <i class="fa-solid fa-circle red"></i>
                        <i class="fa-solid fa-circle blue"></i>
                      </div>
                      <h6>BEAUTIFUL RED FAMILY HOUSE</h6>
                    <p class="card-text">This is a beautiful single family home located in a quiet and desirable residential neighborhood.</p>
                    <a routerLink="/project" class="btn btn-warning btn-block">BUY HOUSE</a>
                </div>
              </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <img src="assets/grey.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">$100,000</h5>
                    <div class="icon">
                        <i class="fa-solid fa-circle grey"></i>
                        <i class="fa-solid fa-circle white"></i>
                      </div>
                      <h6>GREY FAMILY HOUSE</h6>
                    <p class="card-text">This is a beautiful single family home located in a quiet and desirable residential neighborhood.</p>
                    <a routerLink="/project" class="btn btn-warning btn-block">BUY HOUSE</a>
                </div>
              </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <img src="assets/maron.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">$120,000</h5>
                    <div class="icon">
                        <i class="fa-solid fa-circle maron"></i>
                        <i class="fa-solid fa-circle white"></i>
                      </div>
                      <h6>MARON FAMILY HOUSE</h6>
                    <p class="card-text">This is a beautiful single family home located in a quiet and desirable residential neighborhood.</p>
                    <a routerLink="/project" class="btn btn-warning btn-block">BUY HOUSE</a>
                </div>
              </div>
        </div>
    </div>

    