<section class="container">
    <div class="row">
        <div class="col-lg-6">
            <h5>Best Choice for</h5>
            <h2>YOUR HOUSE</h2>

            <h6>About us</h6>
            <p>
                We are a home sales agency committed to making the dream of finding the perfect home 
                for each client come true. Our goal is to provide a comprehensive and personalized service, 
                helping people find the home of their dreams.
            </p>
        </div>

        <div class="col-lg-6">
            <img src="assets/about.png" alt="">

        </div>
    </div>
</section>