<!--NAVBAR-->

<div class="header">
  <div class="logo">
    <i class="fa-solid fa-house-fire" style="color: rgb(175, 101, 5);"></i>
  <a routerLink="/home" class="logo" style="color: rgb(175, 101, 5);">HOMELY</a>
  </div>

  <i class="icon fa-solid fa-bars" (click)="setActive()"></i>
  

  <div class="navbar"
  [ngClass]="{'active':active}" (click)="setMenu()">
  <a routerLink="/home" class="a" >Home</a>
  <a routerLink="/about" class="a">About</a>
  <a routerLink="/project" class="a">Portafolio</a>
  <a routerLink="/contact" class="a" style="margin-right: 5rem;">Contacto</a>
  </div>
</div>




   <router-outlet></router-outlet>
   
