<section class="container">
    <div class="row">
    <div class="col-lg-6">
      <h2>We Will help you to find your perfect home.</h2>

      <p>
        Looking for a house is one of the most important life experiences for which all
        person must happen at least once in their life. Hence the enormous importance of knowing how to choose well.
      </p>

      <div class="button">
        <button class="btn" routerLink="/project">Projects</button>
      </div>
    </div>

    <div class="col-lg-6">
      <img src="assets/imagen1.png" alt="">
    </div>
  </div>
</section>